section#botoxAndFillers {
    background-image: url('../../imgs/botox-filler.webp');
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 0%;
    /* background-color: white; */
}
section#botoxAndFillers:hover{
    filter: saturate(1.2);
    filter: brightness(1.2);
}
section .img-wrapper > img{
    filter: grayscale(100%);
}
section:hover .img-wrapper > img{
    filter: grayscale(0);
    border: 2px solid red
}