.home-page-header > .address-num-container img{
    float: right;
    
}
.home-page-header>.address-num-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: black;
}