/* sizing-home.css*/
.page-container.home-page-container {
    width: 100%;
}
section img {
    /* max-height: 160px; */
    max-width:  100px;
}
#iconShilouette{
    max-width: 150px;
}
.home-page-header .contact-content > .img-wrapper{
    height: fit-content;
}
.home-page-header .contact-content > .img-wrapper > img{
    width: 44vw;
    max-width: 500px;
    height: 10vh;
}
.address-num-container p {
    width: 59%;
    background-color: whitesmoke;
}