/* sizing-home.css*/
.mission-state > img {
    height: 30vh;
    border-radius: 60px;
    margin-right: 3%;
}
.mission-state > p {
    padding-top: 2%;
}

.home-page-item .content>.img-wrapper {
    height: fit-content;
    width: fit-content;
}
.home-page-item .content>.img-wrapper > img{
    height: 20vh;
}