.contact-page-container{
    position: relative;
}
.home-page-container .animation-container {
    /* position: flo; */
    float: right !important;
    width: 45%;
    /* top: 0; */
    
    /* border: 1px solid black; */
    /* width: 50%; */
    /* z-index: 101; */
}

.home-page-container  article>p {
     font-family: Arial, Helvetica, sans-serif;
 }