/* spacing-products.css */
.products-container{
    border-top: 1px solid black;
}
.products-content {
    border-right: none;
}
.item {
    border: 1px solid orange
}
.item img.item-img {
    border: 1px solid blue;
}
