/* effects.css */
a:active,
a:focus{
    box-shadow: 0px 1px  1px 1px  darkgray;
    filter: grayscale(10%);
    outline: none;
    /* border: 1px solid black; */
}             
section.colored#botoxAndFillers,
section#botoxAndFillers:hover {
    filter: grayscale(20%);
}
.img-wrapper > img:hover,
section.colored .img-wrapper > img{
    filter: grayscale(0) !important;
}


