/* layout.css */
.page-wrapper {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
.page-header {
    display: flex;
    justify-content: space-between;
    
}
.mobile-header-nav ul {
    display: flex;
}
.mobile-header-nav > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    min-width: 0;/* 🔥 critical */
}
li#contactNavLink {
    flex: 1 1 0;
    /* same behavior as others */
    min-width: 0;
    /* 🔥 allows shrinking */
}
.mobile-header-nav > ul > li > a {
    display: inline-block;
    text-align: center;
}
.social-media-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.social-media-link-container {
    flex: 1;
    display: flex;
}

.social-media-link-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-link-container svg {
    width: 100%;
    height: auto;
    max-width: 100%;
}
