/* position.css */
.main-landing-page{
    position: absolute;
    top: 0;
}
.page-wrapper{
    position: relative;
}


.mobile-header-nav .social-media-link-container {
    position: relative;
}

.mobile-header-nav {
    position: fixed;
    z-index: 2;
    top: 5%;
}
