/* position.css */
.page-container  {
    position: relative;
    z-index: 1;
}
.page-container > .section {
}
.animation-container{
    position: absolute;
    z-index: 4;
    left: 50%;
    z-index: 0;
    top: 0;
}
.mobile-header-nav {
    position: fixed;
    z-index: 2;
    bottom: 0;
}

#navBarBtn {
    position: absolute;
    bottom: 8%;
    z-index: 2;
    right: 91%;
    
}
