/* position.css */
.home-page-container {
    /* position: relative; */
    /* z-index: 1; */
}
.page-wrapper{
    /* position: relative; */
}
.page-header{
    /* display: fixed; */
    top: 0;
}
.mobile-header-nav {
    position: sticky;
    top: 0;
}