/* colors-med-spa-serv.css */
.med-spa-serv-container .section>h2 {
    color: var(--font-p-clr);
}

.med-spa-serv-container .section-title,
.page-title {
    color: var(--font-p-clr);
}

.med-spa-serv-container .section p {

    color: var(--font-p-clr);
}