/* layout-med-spa-serv.css */

.med-spa-serv-container > .page-container{
    
}

.med-spa-serv-container .section>.content>iframe {
    float: left;
}
.med-spa-serv-container .section>.content>.img-wrapper {
    float: right;
}

.med-spa-serv-container .section.colored .more-info-links {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
}

.med-spa-serv-container .section .more-info-links {
    display: none;
}

.med-spa-serv-container .section>button.section-title {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    border: 1px solid blue;
    justify-content: space-between;
}

.med-spa-serv-container .section>button.section-title > span{
    display: inline-flex;
    border: 1px solid red;
    width: 70%;
    flex-basis: 80% !important;
}
.med-spa-serv-container .section>button.section-title > span{
    flex-basis: 10%;
}

.med-spa-serv-container section::after {
    content: "";
    display: block;
    clear: both;
}