/* spacing-med-spa-serv.css */
.med-spa-serv-container > .page-container{
    padding-top: 40%;
    margin-top: 50%;
    background-color: blue !important;
}
.section {
    /* border: 25px solid orange; */
    /* padding-top: 1.25rem; */
    /* padding-bottom: .5rem; */
    padding-left: 0;
    background-color: blue;
}
